body {
  font-family: "Montserrat", sans-serif;
  color: #111;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ---header--- */

.header {
}

.header-logo {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo span {
  font-style: italic;
}

.header-list {
}

.header-list-item {
}

.header-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #111;
}

/* ---hero--- */

.hero {
  background-color: #1e1823;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-btn {
  border-radius: 100px;
  padding: 14px 40px;
  width: 144px;
  height: 45px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-link {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  width: 183px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
}

/* ---benefits--- */

.benefits {
  background-color: #1e1823;
}

.benefits-title {
}

.benefits-list {
}

.benefits-list-item {
}

.benefits-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.benefits-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
