*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/* ---containers--- */

.container {
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-narrow {
  max-width: 1094px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ---header--- */

.header {
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.03em;
  color: #111;
  padding: 28px 0;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-right: 474px;
}

.header-logo-icon {
  fill: transparent;
  stroke: #fd9222;
}

.header-logo span {
  font-style: italic;
}

.header-list {
  display: flex;
  gap: 24px;
}

.header-list-item {
}

.header-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #111;
  padding: 32px 0;
  position: relative;
  transition: color 300ms ease;
}

.active::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background-color: #fd9222;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-item-link:hover,
.header-item-link:focus,
.footer-menu-link:hover,
.footer-menuI-link:focus {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  gap: 18px;
  margin-left: auto;
}
.header-soc-item {
  padding-top: 28px;
  padding-bottom: 28px;
  /* width: 44px;
  height: 44px; */
}
/* .header-soc-link {
  width: 100%;
  height: 100%;
  width: 44px;
  height: 44px;
  background-color: #fd9222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.header-soc-icon {
  fill: transparent;
  stroke: #111;
  transition: stroke 300ms ease;
}

.header-soc-icon:hover,
.header-soc-icon:focus {
  stroke: #fd9222;
}

/* .header-soc-icon {
  fill: #111;
} */

/* ---hero--- */

.hero {
  background-color: #1e1823;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 375px 72px 46px;
  border-radius: 30px;
  /* margin-bottom: 72px; */
  max-width: 1200px;
  margin: 0 auto 72px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-btn {
  border-radius: 100px;
  padding: 14px 40px;
  /* width: 144px; */
  /* height: 45px; */
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  margin-right: 14px;
  cursor: pointer;
  /* transition-property: background-color, color;
  transition-duration: 800ms;
  transition-delay: 800ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  transition: background-color 300ms ease, color 300ms ease;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-link {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  /* width: 183px; */
  /* height: 45px; */
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  transition: color 300ms ease, border-color 300ms ease;
}

.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.hero-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

/* ---benefits--- */

.benefits {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits-title {
}

.benefits-list {
  display: flex;
  gap: 70px;
}

.benefits-list-item {
  width: calc((100% - 2 * 70px) / 3);
}

.benefits-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* ---ingredients--- */

.ingredients {
  padding-top: 100px;
  padding-bottom: 50px;
}

.ingredients-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 411px;
  margin: 0 auto 28px;
}

.ingredients-title span {
  color: #fd9222;
}

.ingredients-text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 486px;
  margin: 0 auto 50px;
}
.ingredients-list {
  display: flex;
  gap: 19px;
}
.ingredients-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px 32px;
  width: calc((100% - 3 * 19px) / 4);
  position: relative;
  overflow: hidden;
}

.ingredients-item:hover .ingredients-cover {
  transform: translateY(0);
}

.ingredients-cover-wrapper {
  /* position: relative;
  overflow: hidden; */
}

.ingredients-img {
  margin: 0 auto 36px;
  /* margin-bottom: 36px; */
  /* position: relative; */
  /* overflow: hidden; */
}

.ingredients-cover {
  position: absolute;
  background-color: #fff;

  /* border: none; */
  /* color: #fff; */
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  /* color: #111; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 300ms ease;
}

.ingredients-cover-subtitle {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.ingredients-cover-buttons {
  display: flex;
  gap: 6px;
  padding-bottom: 16px;
}

.ingredients-cover-btn {
  border-radius: 35px;
  padding: 6px 16px;
  width: 81px;
  height: 24px;
  background-color: #fd9222;
  border: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #fff;
}
.ingredients-cover-link {
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  width: 93px;
  height: 24px;
  background-color: #fafafa;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #111;
}

.ingredients-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/* ---made--- */

.made {
  padding-top: 50px;
  padding-bottom: 50px;
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 205px;
  margin: 0 auto 50px;
}

.made-content {
  display: flex;
  gap: 20px;
}

.made-title span {
  color: #fd9222;
}

.made-img {
  /* margin-right: 20px; */
}

.made-content-text {
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  max-width: 350px;
  margin-bottom: 28px;
}
.made-list {
}
.made-item {
  position: relative;
  padding-left: 16px;
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.made-item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 5px;
}

.made-text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
}

/*---reviews---*/

.reviews {
  padding-top: 50px;
  padding-bottom: 100px;
}

.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 268px;
  margin: 0 auto 50px;
}

.reviews-title span {
  color: #fd9222;
}

.reviews-list {
  display: flex;
  gap: 28px;
}

.reviews-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  /* width: 360px; */
  /* height: 200px; */
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;
  width: calc((100% - 2 * 28px) / 3);
  padding: 56px 24px 24px 24px;
  margin-bottom: 50px;
  position: relative;
}

.reviews-wrapper {
}

.reviews-img {
  margin: 0 auto;
  /* position: absolute; */
  /* bottom: 50px; */
  /* left: 140px; */
  position: absolute;
  bottom: 140px;
  left: 140px;
  border-radius: 50%;
  /* overflow: hidden; */
}

.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  margin-bottom: 24px;
}

.reviews-text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  /* width: 222px; */
  /* height: 50px; */
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 300ms ease, color 300ms ease;
}

.reviews-btn:hover,
.reviews-btn:focus {
  background-color: #fd9222;
  color: #fff;
}

/* ---footer--- */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 86px;
}

.footer-info {
  display: flex;
  padding-bottom: 54px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-text span {
  color: #fd9222;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  /* text-align: center; */
  color: #fff;
  margin-bottom: 14px;
}
.footer-contacts {
  font-style: normal;
}
.footer-contacts-list {
}
.footer-contacts-item {
}
.footer-contacts-link {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-menu-list {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 300ms ease;
}
